[Desktop Entry]
Version=1.0
Name=Calendar
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Calendar
Comment=See Appointments
Exec=chromium-browser --app=https://calendar.google.com/calendar/render#main_7 
Terminal=false
Icon=office-calendar
Type=Application
Categories=Office;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
X-Ayatana-Desktop-Shortcuts=NewWindow;NewIncognito

